# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [125]:
# Find the establishments with a hygiene score of 20

# Create a query that searches for hygiene score of 20
query = {'scores.Hygiene': 20}

# Have the results only show the Business Name instead of all fields
fields = {"BusinessName": 1}

# Search for the query with the specified fields
hygiene20 = db.establishments.find(query, fields)

# Print the results
for result in hygiene20:
    pprint(result)

{'BusinessName': 'The Chase Rest Home',
 '_id': ObjectId('646a9c1d934cce92dae7d018')}
{'BusinessName': 'Brenalwood', '_id': ObjectId('646a9c1d934cce92dae7d394')}
{'BusinessName': 'Melrose Hotel', '_id': ObjectId('646a9c1e934cce92dae7d69f')}
{'BusinessName': 'Seaford Pizza', '_id': ObjectId('646a9c1e934cce92dae7d88e')}
{'BusinessName': 'Golden Palace', '_id': ObjectId('646a9c1e934cce92dae7d89c')}
{'BusinessName': "Ashby's Butchers",
 '_id': ObjectId('646a9c1e934cce92dae7e23c')}
{'BusinessName': 'South Sea Express Cuisine',
 '_id': ObjectId('646a9c1e934cce92dae7e45e')}
{'BusinessName': 'Golden Palace', '_id': ObjectId('646a9c1e934cce92dae7f98f')}
{'BusinessName': 'The Tulip Tree', '_id': ObjectId('646a9c1e934cce92dae7fdcf')}
{'BusinessName': 'F & S', '_id': ObjectId('646a9c1e934cce92dae805e6')}
{'BusinessName': 'Longhouse', '_id': ObjectId('646a9c1e934cce92dae8064d')}
{'BusinessName': 'Westview Playgroup Based At Downsview Comm Primary',
 '_id': ObjectId('646a9c1e934cce92dae80d07')}
{'BusinessName': 'Whatever The Weather Coffee',
 '_id': ObjectId('646a9c1f934cce92dae815d4')}
{'BusinessName': 'Kings Restaurant (Oriental)',
 '_id': ObjectId('646a9c1f934cce92dae81be3')}
{'BusinessName': 'Xich Lo', '_id': ObjectId('646a9c1f934cce92dae81f3d')}
{'BusinessName': 'Asian Supermarket Ltd: T/A Best Food Wine Ltd',
 '_id': ObjectId('646a9c1f934cce92dae824ab')}
{'BusinessName': 'Londis', '_id': ObjectId('646a9c1f934cce92dae82518')}
{'BusinessName': 'Costcutter', '_id': ObjectId('646a9c1f934cce92dae8278a')}
{'BusinessName': 'La Simon Ltd', '_id': ObjectId('646a9c1f934cce92dae82d56')}
{'BusinessName': 'Caribiscus Ltd', '_id': ObjectId('646a9c1f934cce92dae8330a')}
{'BusinessName': 'Kennedy Fried Chicken',
 '_id': ObjectId('646a9c1f934cce92dae8332f')}
{'BusinessName': 'Gah Shing', '_id': ObjectId('646a9c1f934cce92dae83600')}
{'BusinessName': 'A1 News & Wine', '_id': ObjectId('646a9c1f934cce92dae83648')}
{'BusinessName': 'Cakes & Bakes', '_id': ObjectId('646a9c1f934cce92dae8374c')}
{'BusinessName': 'Sahajanand Catering Limited',
 '_id': ObjectId('646a9c1f934cce92dae83807')}
{'BusinessName': 'Sisko Cafe', '_id': ObjectId('646a9c1f934cce92dae8381b')}
{'BusinessName': 'Magazin Romanesc Diana',
 '_id': ObjectId('646a9c1f934cce92dae83903')}
{'BusinessName': 'Bali Maamalas', '_id': ObjectId('646a9c1f934cce92dae8397f')}
{'BusinessName': 'Angels Bakery', '_id': ObjectId('646a9c1f934cce92dae83bc8')}
{'BusinessName': 'Nikkis Place Restaurant',
 '_id': ObjectId('646a9c1f934cce92dae83c10')}
{'BusinessName': 'Chicago 30', '_id': ObjectId('646a9c1f934cce92dae83c83')}
{'BusinessName': 'Samui Thai Restaurant',
 '_id': ObjectId('646a9c1f934cce92dae83d8d')}
{'BusinessName': 'Pakhtoonkhwa Restaurant',
 '_id': ObjectId('646a9c1f934cce92dae83e7c')}
{'BusinessName': 'New Happy Garden',
 '_id': ObjectId('646a9c1f934cce92dae83f3b')}
{'BusinessName': 'Mummy Yum', '_id': ObjectId('646a9c1f934cce92dae840d2')}
{'BusinessName': 'Gospodina', '_id': ObjectId('646a9c1f934cce92dae84260')}
{'BusinessName': "Leo's Bar & Grill",
 '_id': ObjectId('646a9c1f934cce92dae8434c')}
{'BusinessName': 'Royal Ribs', '_id': ObjectId('646a9c1f934cce92dae846c2')}
{'BusinessName': 'Great Hallingbury Manor Hotel',
 '_id': ObjectId('646a9c1f934cce92dae848c2')}
{'BusinessName': 'The Dog And Duck',
 '_id': ObjectId('646a9c1f934cce92dae84ad8')}
{'BusinessName': 'Oriental Cottage',
 '_id': ObjectId('646a9c1f934cce92dae84ccc')}

In [126]:
# Use count_documents to display the number of documents in the result
number_hygiene20 = establishments.count_documents({'scores.Hygiene': 20})
print(number_hygiene20)

41

In [127]:
# Display the first document in the results using pprint

# Limit to just one document
limit = 1

# Find the result of the query with limit of 1
result = list(establishments.find(query).limit(limit))

# Print the result
pprint(result)

[{'AddressLine1': '5-6 Southfields Road',
  'AddressLine2': 'Eastbourne',
  'AddressLine3': 'East Sussex',
  'AddressLine4': '',
  'BusinessName': 'The Chase Rest Home',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'ChangesByServerID': 0,
  'Distance': 4613.888288172291,
  'FHRSID': 110681,
  'LocalAuthorityBusinessID': '4029',
  'LocalAuthorityCode': '102',
  'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
  'LocalAuthorityName': 'Eastbourne',
  'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'BN21 1BU',
  'RatingDate': '2021-09-23T00:00:00',
  'RatingKey': 'fhrs_0_en-gb',
  'RatingValue': 0,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('646a9c1d934cce92dae7d018'),
  'geocode': {'latitude': None, 'longitude': None},
  'latitude': None,
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
             'rel': 'self'}],
  'longitude': None,
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}]

In [128]:
# Convert the result to a Pandas DataFrame

# Import pandas
import pandas as pd

# Find the query
all_results = db.establishments.find(query)

# Put the results of the query into a dataframe
results_of_hygiene20_df = pd.DataFrame(all_results)

In [130]:
# Display the number of rows in the DataFrame
print(len(results_of_hygiene20_df))

41

In [131]:
# Display the first 10 rows of the DataFrame
results_of_hygiene20_df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,longitude,latitude
0,646a9c1d934cce92dae7d018,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': None, 'latitude': None}",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
1,646a9c1d934cce92dae7d394,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': None, 'latitude': None}",,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
2,646a9c1e934cce92dae7d69f,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': None, 'latitude': None}",,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
3,646a9c1e934cce92dae7d88e,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': None, 'latitude': None}",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
4,646a9c1e934cce92dae7d89c,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': None, 'latitude': None}",,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
5,646a9c1e934cce92dae7e23c,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': None, 'latitude': None}",,4625.565258,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
6,646a9c1e934cce92dae7e45e,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': None, 'latitude': None}",,4626.200132,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
7,646a9c1e934cce92dae7f98f,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': None, 'latitude': None}",,4632.276890,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
8,646a9c1e934cce92dae7fdcf,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",FHRS,"{'longitude': None, 'latitude': None}",,4633.934041,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
9,646a9c1e934cce92dae805e6,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': None, 'latitude': None}",,4636.552523,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [132]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.

# Create a query that searches for the word London in LocalAuthorityName
# and has a rating value of greater than or equal to 4
query = {"LocalAuthorityName": {'$regex': 'London'},
         "RatingValue": {'$gte': 4}}

# Have the results only show the Business Name field
fields = {"BusinessName": 1}

# Find the query with the specified field
london_rating_4up = db.establishments.find(query, fields)

# Print the result
for result in london_rating_4up:
    pprint(result)

{'BusinessName': "Charlie's", '_id': ObjectId('646a9c1e934cce92dae7ea35')}
{'BusinessName': 'Mv City Cruises Erasmus',
 '_id': ObjectId('646a9c1e934cce92dae7ed57')}
{'BusinessName': 'Benfleet Motor Yacht Club',
 '_id': ObjectId('646a9c1e934cce92dae7f8a9')}
{'BusinessName': 'Coombs Catering t/a The Lock and Key',
 '_id': ObjectId('646a9c1e934cce92dae806a4')}
{'BusinessName': 'Tilbury Seafarers Centre',
 '_id': ObjectId('646a9c1e934cce92dae806a6')}
{'BusinessName': 'Mv Valulla', '_id': ObjectId('646a9c1e934cce92dae80dab')}
{'BusinessName': 'Tereza Joanne', '_id': ObjectId('646a9c1f934cce92dae82eba')}
{'BusinessName': 'Brick Lane Brews',
 '_id': ObjectId('646a9c1f934cce92dae8327e')}
{'BusinessName': 'The Nuance Group (UK) Limited',
 '_id': ObjectId('646a9c1f934cce92dae8329a')}
{'BusinessName': 'WH Smith', '_id': ObjectId('646a9c1f934cce92dae8329d')}
{'BusinessName': 'City Bar & Grill',
 '_id': ObjectId('646a9c1f934cce92dae832a2')}
{'BusinessName': 'Jet Centre', '_id': ObjectId('646a9c1f934cce92dae8347f')}
{'BusinessName': 'Caffè Nero', '_id': ObjectId('646a9c1f934cce92dae83494')}
{'BusinessName': 'Mv Sunborn Yacht Hotel',
 '_id': ObjectId('646a9c1f934cce92dae83721')}
{'BusinessName': 'Good Hotel London',
 '_id': ObjectId('646a9c1f934cce92dae83928')}
{'BusinessName': 'La Nonna lina', '_id': ObjectId('646a9c1f934cce92dae8394e')}
{'BusinessName': 'Wake Up Docklands Limited',
 '_id': ObjectId('646a9c1f934cce92dae83952')}
{'BusinessName': 'MV Venus Clipper',
 '_id': ObjectId('646a9c1f934cce92dae83b16')}
{'BusinessName': 'MV Typhoon clipper',
 '_id': ObjectId('646a9c1f934cce92dae83b62')}
{'BusinessName': 'MV Mercury clipper',
 '_id': ObjectId('646a9c1f934cce92dae83b63')}
{'BusinessName': 'MV Monsoon clipper',
 '_id': ObjectId('646a9c1f934cce92dae83b64')}
{'BusinessName': 'MV Cyclone clipper',
 '_id': ObjectId('646a9c1f934cce92dae83b65')}
{'BusinessName': 'MV Meteor clipper',
 '_id': ObjectId('646a9c1f934cce92dae83b66')}
{'BusinessName': 'MV Neptune clipper',
 '_id': ObjectId('646a9c1f934cce92dae83b67')}
{'BusinessName': 'MV Jupiter clipper',
 '_id': ObjectId('646a9c1f934cce92dae83b68')}
{'BusinessName': 'MV Moon clipper', '_id': ObjectId('646a9c1f934cce92dae83b69')}
{'BusinessName': 'MV Tornado clipper',
 '_id': ObjectId('646a9c1f934cce92dae83b6a')}
{'BusinessName': 'MV Hurricane clipper',
 '_id': ObjectId('646a9c1f934cce92dae83b6b')}
{'BusinessName': 'MV Galaxy clipper',
 '_id': ObjectId('646a9c1f934cce92dae83b6c')}
{'BusinessName': 'Mv Storm Clipper',
 '_id': ObjectId('646a9c1f934cce92dae83b6d')}
{'BusinessName': 'MV Aurora clipper',
 '_id': ObjectId('646a9c1f934cce92dae83b6e')}
{'BusinessName': 'Canary Wharf 1V', '_id': ObjectId('646a9c1f934cce92dae83b71')}
{'BusinessName': 'MV Sun clipper', '_id': ObjectId('646a9c1f934cce92dae83b73')}

In [133]:
# Use count_documents to display the number of documents in the result
number_london_rating_4up = establishments.count_documents({"LocalAuthorityName":  {'$regex': 'London'}, "RatingValue": {'$gte': 4}})
print(number_london_rating_4up)

33

In [134]:
# Display the first document in the results using pprint

# Limit to only 1 result
limit = 1

# Find the result of the query with only 1 result
result = list(establishments.find(query).limit(limit))

# Print the result
pprint(result)

[{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
  'AddressLine2': 'Sheppy Kent',
  'AddressLine3': '',
  'AddressLine4': '',
  'BusinessName': "Charlie's",
  'BusinessType': 'Other catering premises',
  'BusinessTypeID': 7841,
  'ChangesByServerID': 0,
  'Distance': 4627.439467780196,
  'FHRSID': 621707,
  'LocalAuthorityBusinessID': 'PI/000025307',
  'LocalAuthorityCode': '508',
  'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
  'LocalAuthorityName': 'City of London Corporation',
  'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'ME12',
  'RatingDate': '2021-10-18T00:00:00',
  'RatingKey': 'fhrs_4_en-gb',
  'RatingValue': 4,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('646a9c1e934cce92dae7ea35'),
  'geocode': {'latitude': None, 'longitude': None},
  'latitude': None,
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
             'rel': 'self'}],
  'longitude': None,
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}]

In [135]:
# Convert the result to a Pandas DataFrame

# Find the query
all_results = db.establishments.find(query)

# Put results into a dataframe
results_of_london_rating_4up_df = pd.DataFrame(all_results)

In [136]:
# Display the number of rows in the DataFrame
results_of_london_rating_4up_df.shape[0]

33

In [137]:
# Display the first 10 rows of the DataFrame
results_of_london_rating_4up_df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,longitude,latitude
0,646a9c1e934cce92dae7ea35,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,"{'Hygiene': 5, 'Structural': 10, 'ConfidenceIn...",FHRS,"{'longitude': None, 'latitude': None}",,4627.439468,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
1,646a9c1e934cce92dae7ed57,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': None, 'latitude': None}",,4627.873179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
2,646a9c1e934cce92dae7f8a9,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': None, 'latitude': None}",,4631.968418,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
3,646a9c1e934cce92dae806a4,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': None, 'latitude': None}",,4636.846754,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
4,646a9c1e934cce92dae806a6,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': None, 'latitude': None}",,4636.847650,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
5,646a9c1e934cce92dae80dab,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': None, 'latitude': None}",,4640.460834,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
6,646a9c1f934cce92dae82eba,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': None, 'latitude': None}",,4648.301822,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
7,646a9c1f934cce92dae8327e,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,"{'Hygiene': 10, 'Structural': 5, 'ConfidenceIn...",FHRS,"{'longitude': None, 'latitude': None}",,4649.173485,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
8,646a9c1f934cce92dae8329a,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': None, 'latitude': None}",,4649.188826,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
9,646a9c1f934cce92dae8329d,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': None, 'latitude': None}",,4649.188850,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [138]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01

# Find latitude and longitude of Penang Flavours from the information we input in the setup starter notebook
latitude = 0.08384000
longitude = 51.49014200

# Create a query for rating value of 5,
# latitude between +- 0.01 of Penang Flavours' latitude,
# and longitude between +- 0.01 of Penang Flavours' longitude.
query = {'RatingValue': 5,
         'geocode.latitude': {'$in': [0.07384000, 0.09384000]},
         'geocode.longitude': {'$in': [51.48014200, 51.50014200]}}

# Have the results show just the Business Name field
fields = {"BusinessName": 1}

# Sort by the hygiene scores in ascending order
sort = [('scores.Hygiene', 1)]

# Limit to 5 results
limit = 5

# Find the query with the specified fields, sort, and limit
question3 = db.establishments.find(query, fields).sort(sort).limit(limit)

# Print the results
for result in question3:
    pprint(result)

In [139]:
# Convert result to Pandas DataFrame
all_results = db.establishments.find(query, fields).sort(sort).limit(limit)
results_df = pd.DataFrame(all_results)

In [140]:
# Print the first 10 rows of the dataframe
results_df.head(10)

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [141]:
# Create a pipeline that: 

# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': 0}}

# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': '$LocalAuthorityName', 'count': {'$sum': 1}}}

# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': {'count': -1}}
               
# Create the pipeline
pipeline = [match_query, group_query, sort_values]

# Create a list of the results
results = list(establishments.aggregate(pipeline))

In [142]:
# Print the number of documents in the result
print(len(results))

55

In [143]:
# Print the first 10 results
pprint(results[0:10])

[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [144]:
# Convert the result to a Pandas DataFrame
question4_df = pd.DataFrame(results)

In [145]:
# Display the number of rows in the DataFrame
print(len(question4_df))

55

In [146]:
# Display the first 10 rows of the DataFrame
question4_df.head(10)

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542